<!-- add button -->
<div class="col-8 col-sm-10 col-lg-3" >
  <%= form_for(photo, url: photos_path, method: "post", html: {:multipart => true}) do |f| %>
  <button class="addButton uploadButton">
    <%= f.file_field :image_uid, :onchange => 'this.form.submit()' %>
    <p>添加图片</p>
  </button>
  <% end %>
</div>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          我的图片
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
      <div class="row">
        <% photos.each do |p| %>
          <div class="col-xs-6 .col-md-12">
            <div class="onePhoto thumbnail">
              <h4>&nbsp;</h4>
                <%=image_tag p.image_uid.url(:show_small_thumb) %>

              <div class="photoButtons">
                <a href="#" data-toggle="modal" data-target="#own-<%= p.id %>" data-type="edit" class="editButton"></a>
                <%= link_to '', photo_path(id: p.id), method: :delete, data: {confirm: '确定删除这张图片?'}, class: "deleteButton" %>
              </div>
            </div>
          </div>

          <!-- 模态框 -->
          <div class="modal fade" id="own-<%=p.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">编辑图片</h4>
                </div>
                <div class="modal-body">
                  <div><%=image_tag p.image_uid.url(:show_big_thumb) %></div>
                  <%= form_for(p, url: photo_path(photo_id: p.id), method: 'put') do |f| %>
                    <div>
                      <%= f.label '图片描述' %>
                      <%= f.text_area :description, class: "form-control" %>
                    </div>
                    <div><%= f.label '图片标签' %></div>
                    <% tags.each do |t| %>
                      <div class="col-md-4">
                        <input <%= p.tags.include?(t) ? "checked='checked'" : "unchecked" %> type="checkbox" tag_id=<%= t.id %> name = <%= "photo[tags][#{t.id}]" %> value=<%= t.name %>><%= t.name %></input>
                      </div>
                    <% end %>
                    <div>
                      <%= f.submit "保存", class: "btn btn-default"%>
                    </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
                  <!-- < -->
        <% end %>
      </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          朋友圈图片
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <%= render :partial => "photos_show", :locals => { photos: @fans_photos } %>
      </div>
    </div>
  </div>
</div>