<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'smallForm' }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label '邮箱' %><br />
  <%= f.email_field :email, autofocus: true, class: 'form-control' %></div>

  <div><%= f.submit "发送链接到我邮箱", class: 'btn btn-primary' %></div>
<% end %>

<%= render "users/shared/links" %>
