<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'smallForm' }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label '邮箱' %><br />
  <%= f.email_field :email, autofocus: true, class: 'form-control' %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label '新密码'%> <i>(如果你不想改，就留空吧)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %></div>

  <div><%= f.label '新密码确认' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %></div>

  <div><%= f.label '旧密码' %> <i>(我们需要确定你的密码来保存更改)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %></div>

  <div><%= f.submit "更新", class: 'btn btn-primary' %></div>
<% end %>

<div class='smallForm'>
<h3>删除账号</h3>

<p>不爽? <%= button_to "删除", registration_path(resource_name),
data: { confirm: "你确定?" }, method: :delete, class: 'btn btn-danger' %></p>
</div>

<%= link_to "返回", :back %>
